{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier"],
  "plugins": ["react-hooks"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "no-console": "off"
  }
}
